.App {
  text-align: center;
  padding: 1rem;
  color: #f1f2f6;
}
ul {
  list-style-type: none;
}
body {
  font-size: 1.2rem;
  background: #bdc3c7; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
  background: linear-gradient(to right, #2c3e50, #bdc3c7);
}
button,
input {
  padding: 0.5rem 0.7rem;
  margin: 0.25rem;
  border-radius: 5px;
  border: 1px solid transparent;
}
